<div class="mui-appbar">
  <div class="mui-container">
    <ul class="nav">
      <li class='nav-item'>
        <a class='mui--appbar-height' href="/employees">Employees</a>
      </li>
      <li class='nav-item'>
        <a class='mui--appbar-height' href="/customers">Customers</a>
      </li>
      <li class='nav-item'>
        <a class='mui--appbar-height' href="/suppliers">Suppliers</a>
      </li>
      <li class='nav-item'>
        <a class='mui--appbar-height' href="/orders">Orders</a>
      </li>
      <li class='nav-item'>
        <a class='mui--appbar-height' href="/products">Products</a>
      </li>
    </ul>
  </div>
</div>