<div class="mui-appbar">
  <div class="mui-container">
    <ul class="nav">
      <li class='nav-item'>
        {{#link-to classNames='mui--appbar-height'
                   href="/employees"}}
          Employees
        {{/link-to}}
      </li>
      <li class='nav-item'>
        {{#link-to classNames='mui--appbar-height'
                   href="/customers"}}
          Customers
        {{/link-to}}
      </li>
      <li class='nav-item'>
        {{#link-to classNames='mui--appbar-height'
                   href="/suppliers"}}
          Suppliers
        {{/link-to}}
      </li>
      <li class='nav-item'>
        {{#link-to classNames='mui--appbar-height'
                   href="/orders"}}
          Orders
        {{/link-to}}
      </li>
      <li class='nav-item'>
        {{#link-to classNames='mui--appbar-height'
                   href="/products"}}
          Products
        {{/link-to}}
      </li>
    </ul>
  </div>
</div>