<div class='pagination'>
  {{#link-to href=(merge-qps request.url page=(subtract page 1))
             disabled=(less-than page 2)
             classNames="mui-btn mui-btn--primary mui--pull-left" }}
    Prev
  {{/link-to}}
  <span class="current-page">Page {{page}}</span>
  {{#link-to href=(merge-qps request.url page=(add page 1))
             classNames="mui-btn mui-btn--primary mui--pull-right" }}
    Next
  {{/link-to}}
</div>