<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Example App</title>
  <link rel="stylesheet" href="/static/css/mui.min.css">
  <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
  {{{body}}}
  <script src="/static/js/mui.min.js"></script>
</body>
</html>