body {
  background: #eee;
}

.text-right {
  text-align: right;
}

ul.nav,
ul.collection {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.nav > li,
ul.collection > li {
  list-style: none;
}

ul.nav > li {
  display: inline-block;
}

ul.nav li.nav-item a {
  color: white;
  display: inline-block;
  text-transform: uppercase;
  line-height: 64px;
  padding: 0 10px;
}

ul.collection > li {
  display: block;
}

ul.collection > li > a {
  display: block;
  color: inherit;
}

ul.collection > li > a:hover {
  text-decoration: none;
}

.mui-panel .mui-panel__title {
  margin-top: 0;
}

.mui-badge {
  background: #666;
  color: white;
  text-transform: uppercase;
  padding: 2px 8px;
  margin-right: 3px;
  border-radius: 2px;
}

.mui-badge.purple {
  background: #673ab7;
}

.mui-badge.cyan {
  background: #00bcd4;
  color: black;
}

.mui-badge.deep-orange {
  background: #ff5722;
}

.mui-badge.red {
  background: #f44336;
}

.fade-out {
  opacity: 0.5;
}

.invisible {
  visibility: hidden;
}

a.disabled {
  pointer-events: none;
}

a.mui-btn.disabled {
  opacity: 0.5;
}

.pagination {
  text-align: center;
  height: 48px;
  line-height: 48px;
}

.mui-appbar .nav .nav-item a.active {
  background: navy;
}

.main-nav .nav .nav-item button {
  display: inline-block;
  text-transform: uppercase;
  line-height: 64px;
  padding: 0 10px;
  background: transparent;
  border: none;
  box-shadow: none;
}

.main-nav .nav .nav-item a,
.main-nav .nav .nav-item button {
  color: white;
  transition: color 0.2s ease-in-out;
}

.main-nav.search-mode .nav .nav-item a {
  color: #55b;
}
.main-nav.search-mode .nav .nav-item button {
  color: yellow;
}

.table-col-sort a.sort-button {
  color: grey;
}

.table-col-sort a.sort-button.active {
  color: blue;
}

.mui-table > thead > tr > th.money-col,
.mui-table > tbody > tr > td.money-col {
  text-align: right;
}

.mui-table > thead > tr > th.date-col,
.mui-table > tbody > tr > td.date-col {
  text-align: right;
}

.mui-table > tbody > tr > td.id-col {
  text-align: left;
}

table .actions {
  display: table-cell;
  /* position: relative;
  left: -20px; */
}

.dashboard .dashboard-panel {
  height: 330px;
  overflow-y: scroll;
}

.flavor-profile .flavor-slider {
  padding-top: 0;
  margin-bottom: 5px;
}

.flavor-profile .flavor-slider input {
  border: none;
  margin-left: 42px;
  display: block;
  width: calc(100% - 45px);
}
.flavor-profile .flavor-slider label {
  float: left;
  width: 40px;
  line-height: 32px;
}

.tags-container {
  border-bottom: 1px solid #aaa;
  padding: 0;
  min-height: 32px;
}

.tags-container .selectize-input {
  border: none;
  box-shadow: none;
}

.tags-container input.tags-input {
  border: none;
  display: none;
}

.mui-textfield.tags-field {
  margin-top: 10px;
}

.leaderboard-table tbody tr:first-child {
  background-color: gold;
}
.leaderboard-table tbody tr:nth-child(2) {
  background-color: silver;
}
.leaderboard-table tbody tr:nth-child(3) {
  background-color: #cd7f32;
  color: white;
}

.main-nav {
  transition-property: 'background', 'margin-bottom', 'color';
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  margin-bottom: 0;
}
.main-nav.search-mode {
  background: navy;
  color: #aaa;
  margin-bottom: 60px;
}
.main-nav .search-box {
  transform: translateY(-500px);
  opacity: 0;
  height: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  background: navy;
}
.main-nav.search-mode .search-box {
  transform: translateY(0);
  opacity: 1;
}
.main-nav .search-box .search-input-container {
  border-left: 10px solid navy;
  border-right: 10px solid navy;
  border-bottom: 10px solid navy;
  background: #222299;
}
.main-nav .search-box .search-input-container .search-input {
  color: white;
  border-bottom-color: #aaa;
}
.main-nav .search-box .search-input-container .mui-textfield label {
  padding-top: 5px;
  color: #aaa;
}
.main-nav .search-box .search-input-container .mui-textfield {
  background: transparent;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding-top: 20px;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5px 0;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3371a9;
  border-radius: 1.7px;
  border: 0.5px solid #010101;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 1.9px 1.9px 0.9px #000000, 0px 0px 1.9px #0d0d0d;
  border: 1px solid #000000;
  height: 15px;
  width: 16px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.55px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #3a81c1;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 4.9px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3371a9;
  border-radius: 1.7px;
  border: 0.5px solid #010101;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 1.9px 1.9px 0.9px #000000, 0px 0px 1.9px #0d0d0d;
  border: 1px solid #000000;
  height: 15px;
  width: 16px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 4.9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #2c6191;
  border: 0.5px solid #010101;
  border-radius: 3.4px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range']::-ms-fill-upper {
  background: #3371a9;
  border: 0.5px solid #010101;
  border-radius: 3.4px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range']::-ms-thumb {
  box-shadow: 1.9px 1.9px 0.9px #000000, 0px 0px 1.9px #0d0d0d;
  border: 1px solid #000000;
  height: 15px;
  width: 16px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  height: 4.9px;
}
input[type='range']:focus::-ms-fill-lower {
  background: #3371a9;
}
input[type='range']:focus::-ms-fill-upper {
  background: #3a81c1;
}
