body {
  background: #eee;
}

ul.nav,
ul.collection {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.nav > li,
ul.collection > li {
  list-style: none;
}

ul.nav > li {
  display: inline-block;
}

ul.nav li.nav-item a {
  color: white;
  display: inline-block;
  text-transform: uppercase;
  line-height: 64px;
  padding: 0 10px;
}

ul.collection > li {
  display: block;
}

ul.collection > li a {
  display: block;
  color: inherit;
}
ul.collection > li a:hover {
  text-decoration: none;
}

.mui-panel .mui-panel__title {
  margin-top: 0;
}

.mui-badge {
  background: #666;
  color: white;
  text-transform: uppercase;
  padding: 2px 8px;
  margin-right: 3px;
  border-radius: 2px;
}

.mui-badge.purple {
  background: #673ab7;
}
.mui-badge.cyan {
  background: #00bcd4;
  color: black;
}
.mui-badge.deep-orange {
  background: #ff5722;
}
.mui-badge.red {
  background: #f44336;
}

.fade-out {
  opacity: 0.5;
}

.invisible {
  visibility: hidden;
}

a.disabled {
  pointer-events: none;
}
a.mui-btn.disabled {
  opacity: 0.5;
}

.pagination {
  text-align: center;
  height: 48px;
  line-height: 48px;
}
